.icon-image{
    height: 50px;
    width: 50px;
}

.text{
    font-size: x-small;
    font-weight: 800;
}

.hero-image{
    background-image: url("maple-syrup.jpeg");
    background-size: cover;
    background-position: bottom;
    padding: 13em;
}

.image-box{
    height: 200px;
    width: 200px;
}

/* NOTE whats the difference between position relative and positive absolute - relative/absolute to what? */
/* NOTE is there a better way to do this besides creating the CSS class and inserting it into each tag in HTML? */
.container{
    position: relative;
    text-align: center;
}
.centered{
    position: absolute;
    left: 45%;
    top: 45%;
}

.d-flex{
    display: flex;
}

a{
    text-decoration: none;
    color: white;
}